
/*color part*/
//background-color
$bg-gray: #F3F4F6;
// 辅助色E
$bg-gray-e: #eeeeee;
$bg-white: #ffffff;
$bg-red: #F31300;
//浅灰背景
$bg-gray-s: #f9f9f8;
// 分割线颜色
$line-gray: #F3F4F6;

// 字体颜色
$fcolor-gray: #b0b0b0;
$fcolor-dgray:#7d7d7d;
$fcolor: #323027;
$fcolor-9b: #9b9b9b;
//主题颜色
// $theme-color: #fb6826;
$theme-color: transparent;
$fcolor-red: #F31300;

//默认确认按钮颜色
$certain-color-a: $theme-color !default;
$certain-color-b: #f17f00;

//设备宽度
$device-width: 1440;

//此项目使用的列表间距为0.25rem
//单行高度 1.222222rem
//padding 0 0.430556rem
//文字行高 0.486111rem
