body{margin: 0; 
	color: #535353;
}
p{margin: 0;}
h1,h2,h3,h4,h5,h6{margin: 0;padding: 0;}
ul,ol{margin: 0;padding: 0;list-style: none;}
dl{margin: 0;}
dd{margin: 0;}
blockquote{margin: 0;}
address{font-style:normal;}
a{text-decoration:none;color:black;}
em{font-style:normal;}
// strong{font-weight:normal;}
/*input清样式*/
input{background:none;border:none;outline:none;}